// Variables
@import "./variables";

// Fonctions
@import "./mixins";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

#menu {
    align-items: center;
    gap: 1rem;
}

#mainAdministration, #errorCredential {
    display: none;
}