@import url('https://fonts.googleapis.com/css?family=Pacifico');

#albums-title {
    background-image: url('https://static.vecteezy.com/ti/vecteur-libre/p1/11050990-modele-sans-couture-de-flower-power-retro-des-annees-1990-avec-marguerite-pour-la-conception-de-papier-peint-impression-psychedelique-pouvoir-des-fleurs-motif-floral-retro-pop-art-tendance-conception-transparente-lumineuse-vectoriel.jpg');

    h1 {
        color: aquamarine;
        transform: rotate(-10deg);
        font-family: 'Pacifico';
        font-size: 4rem;
        text-align: center;
        padding-top: calc(1vh*10);
        text-shadow: 5px 1px 0px rgba(0,0,0,.5);
        text-decoration: underline; 
    }
}

#albums {
    background: mediumseagreen;

    .container {
        display: flex;
        gap: 30px;
        justify-content: space-around;
        padding: 40px;
    }

    .card {
        width: 25rem;
    }
}